services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: medical-center-warehouse
      POSTGRES_USER: ava
      POSTGRES_PASSWORD: secret
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: